{% liquid
  assign affiliates_title = 'Welcome to FNCash'
  assign affiliates_header_link_display_1 = True
  assign affiliates_header_link_url_1 = 'https://member.impactradius.com/blc/Fleshlight-and-amp-Fleshjack/login.user'
  assign affiliates_header_link_text_1 = 'Sign in to your account'
  assign affiliates_header_link_display_2 = True
  assign affiliates_header_link_url_2 = 'https://member.impactradius.com/campaign-campaign-info/Fleshlight-and-amp-Fleshjack.brand'
  assign affiliates_header_link_text_2 = 'Join the campaign'
  assign affiliates_description = "FNCash is the exclusive affiliate program for the world's #1 men’s pleasure product, as well as other premiere brands and products sold throughout our network of sites."
%}

<div class="pg-affiliate">
  <header style="background-image:url('{{ 'banner-affiliate.webp' | asset_url }}')">
    <div class="v-center">
      <h1 class="affiliates-header-title">{{ affiliates_title }}</h1>
      <p class="affiliates-header-text">Sign in or register for access to our available tools!</p>
      <ul>
        {% if affiliates_header_link_display_1 %}
          <li>
            <a href="{{ affiliates_header_link_url_1 }}" class="button small dark" target="_blank">
              {{ affiliates_header_link_text_1 }}
            </a>
          </li>
        {% endif %}
        {% if affiliates_header_link_display_2 %}
          <li>
            <a href="{{ affiliates_header_link_url_2 }}" class="button small dark" target="_blank">
              {{ affiliates_header_link_text_2 }}
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
    <!-- /.v-center -->
  </header>
  <div class="affboxes">
    <div class="contain">
      <section class="affiliates-logo-section">
        <a href="/">
          <svg
            width="122px"
            height="20px"
            viewBox="0 0 177 29"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <!-- Generator: sketchtool 3.6.1 (26313) - http://www.bohemiancoding.com/sketch -->
            <defs>
                <path id="path-1" d="M0,0.158257143 L176.745354,0.158257143 L176.745354,29 L0,29 L0,0.158257143 Z"></path>
                <path id="path-3" d="M0,0.158257143 L176.745354,0.158257143 L176.745354,29 L0,29 L0,0.158257143 Z"></path>
            </defs>
            <g id="ComponentsFinal" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Final-Styles" transform="translate(-34.000000, -265.000000)">
                    <g id="Global" transform="translate(-83.000000, 137.000000)">
                        <g id="Navigation" transform="translate(0.000000, 111.000000)">
                            <g id="Navigation-Menu-+-Navigation-Menu-On-Copy" transform="translate(39.000000, 0.000000)">
                                <g id="Navigation-Menu-Copy">
                                    <g id="LOGO" transform="translate(78.000000, 17.000000)">
                                        <path d="M132.346073,0.158257143 L132.346073,4.46682857 L136.085615,4.46682857 C134.207912,6.33111429 124.568926,15.8961429 124.568926,15.8961429 L127.639709,18.9428 C127.639709,18.9428 131.532875,15.0783429 132.314346,14.3036286 C132.839502,15.3062 133.12504,16.4173143 133.12504,17.5723429 C133.12504,21.4981143 129.905643,24.6922571 125.949025,24.6922571 C121.993242,24.6922571 118.774681,21.4981143 118.774681,17.5723429 C118.774681,13.6465714 121.993242,10.4516 125.949025,10.4516 C125.948191,10.4516 125.946521,6.14302857 125.946521,6.14302857 C119.597898,6.14302857 114.431502,11.2694 114.431502,17.5723429 C114.431502,23.8744571 119.597898,29 125.949025,29 C132.299318,29 137.467384,23.8744571 137.467384,17.5723429 C137.466549,15.2515143 136.754375,13.0657429 135.460271,11.1807429 C135.9537,10.6918857 137.952464,8.70828571 139.156398,7.51182857 L139.156398,11.2263143 L143.497908,11.2263143 L143.497908,0.158257143 L132.346073,0.158257143 Z" id="Fill-1" fill="#7FBD51"></path>
                                        <g id="Group-5">
                                            <mask id="mask-2" fill="white">
                                                <use xlink:href="#path-1"></use>
                                            </mask>
                                            <g id="Clip-4"></g>
                                            <path d="M16.4415467,10.6774686 L9.79486274,10.6774686 C7.32020236,10.6774686 4.41389575,11.42484 4.41389575,15.80384 L16.1184382,15.80384 L16.1184382,19.2225257 L4.41389575,19.2225257 L4.41389575,27.9001543 L-0.000250471698,27.9001543 L-0.000250471698,17.1121543 C-0.000250471698,11.2922686 2.09953726,7.12538286 8.93490991,7.12538286 L16.4415467,7.12538286 L16.4415467,10.6774686 Z" id="Fill-3" fill="#000000" mask="url(#mask-2)"></path>
                                          </g>
                                          <path d="M18.3246764,20.3712571 L18.3246764,7.12571429 L22.7379877,7.12571429 L22.7379877,20.0771143 C22.7379877,22.533 24.3510255,24.3500571 27.0427613,24.3500571 L32.8011057,24.3500571 L32.8011057,27.9004857 L25.5357566,27.9004857 C21.6617943,27.9004857 18.3246764,25.9251714 18.3246764,20.3712571" id="Fill-6" fill="#000000"></path>
                                          <path d="M49.1864632,19.2225257 L37.4009349,19.2225257 C37.9118972,22.8268114 39.364633,24.3497257 42.4053594,24.3497257 L49.5087368,24.3497257 L49.5087368,27.9009829 L41.1947462,27.9009829 C35.5699868,27.9009829 32.5309302,24.1898114 32.5309302,17.5131829 C32.5309302,10.8373829 35.5699868,7.12538286 41.1947462,7.12538286 L49.5087368,7.12538286 L49.5087368,10.6774686 L42.4053594,10.6774686 C40.4408264,10.6774686 38.0196,11.0238114 37.4009349,15.8046686 L49.1864632,15.8046686 L49.1864632,19.2225257 Z" id="Fill-8" fill="#000000"></path>
                                          <path d="M69.9580811,10.6774686 L58.6033642,10.6774686 C57.1781802,10.6774686 55.9124632,11.5043829 55.9124632,13.1606971 C55.9124632,15.00344 57.1781802,15.6439257 58.6033642,15.6439257 L65.0880764,15.6439257 C67.3214491,15.6439257 71.0609915,16.95224 71.0609915,21.7852971 C71.0609915,26.5926686 67.3214491,27.9001543 65.0880764,27.9001543 L51.4732698,27.9001543 L51.4732698,24.3497257 L63.0425575,24.3497257 C64.5495623,24.3497257 65.7601755,23.2543543 65.7601755,21.7852971 C65.7601755,20.2905543 64.5495623,19.2225257 63.0425575,19.2225257 L56.5845623,19.2225257 C54.3244726,19.2225257 50.5840953,17.9937543 50.5840953,13.1606971 C50.5840953,8.32764 54.3244726,7.12538286 56.5845623,7.12538286 L69.9580811,7.12538286 L69.9580811,10.6774686 Z" id="Fill-10" fill="#000000"></path>
                                          <path d="M73.1867448,7.12554857 L77.6000561,7.12554857 L77.6000561,15.8040057 L85.9674807,15.8040057 L85.9674807,7.12554857 L90.3799571,7.12554857 L90.3799571,27.90032 L85.9674807,27.90032 L85.9674807,19.2226914 L77.6000561,19.2226914 L77.6000561,27.90032 L73.1867448,27.90032 L73.1867448,7.12554857 Z" id="Fill-12" fill="#000000"></path>
                                          <path d="M92.5330953,20.3712571 L92.5330953,7.12571429 L96.9455717,7.12571429 L96.9455717,20.0771143 C96.9455717,22.533 98.5594443,24.3500571 101.250345,24.3500571 L107.00869,24.3500571 L107.00869,27.9004857 L99.7441755,27.9004857 C95.8685434,27.9004857 92.5330953,25.9251714 92.5330953,20.3712571" id="Fill-14" fill="#000000"></path>
                                          <mask id="mask-4" fill="white">
                                              <use xlink:href="#path-3"></use>
                                          </mask>
                                          <g id="Clip-17"></g>
                                          <path d="M108.622061,7.12571429 L113.037042,7.12571429 L113.037042,27.9004857 L108.622061,27.9004857 L108.622061,7.12571429 Z" id="Fill-16" fill="#000000" mask="url(#mask-4)"></path>
                                          <path d="M139.163745,15.8045029 L151.944481,15.8045029 L151.944481,7.12521714 L156.358627,7.12521714 L156.358627,27.9008171 L151.944481,27.9008171 L151.944481,19.22236 L143.575387,19.22236 L143.575387,27.9008171 L139.163745,27.9008171 L139.163745,15.8045029 Z" id="Fill-18" fill="#000000" mask="url(#mask-4)"></path>
                                          <path d="M176.457896,7.12554857 L176.457896,10.6776343 L169.407952,10.6776343 L169.407952,27.90032 L164.995476,27.90032 L164.995476,10.6776343 L157.97225,10.6776343 L157.97225,7.12554857 L176.457896,7.12554857 Z" id="Fill-19" fill="#000000" mask="url(#mask-4)"></path>
                                          <path d="M174.08668,25.5156086 L174.379732,25.5156086 C174.71119,25.5156086 174.993388,25.3946371 174.993388,25.08558 C174.993388,24.8668371 174.831416,24.6464371 174.379732,24.6464371 C174.248652,24.6464371 174.156812,24.65638 174.08668,24.6671514 L174.08668,25.5156086 Z M174.08668,26.9042943 L173.685091,26.9042943 L173.685091,24.3962086 C173.896322,24.3672086 174.097534,24.3357229 174.398935,24.3357229 C174.781322,24.3357229 175.034298,24.4169229 175.184581,24.5262943 C175.336534,24.6364943 175.416685,24.8063514 175.416685,25.0466371 C175.416685,25.3747514 175.195435,25.5744371 174.923256,25.6556371 L174.923256,25.6763514 C175.144506,25.7152943 175.296458,25.91498 175.345718,26.2836943 C175.406666,26.67478 175.466779,26.8247514 175.50769,26.9042943 L175.085227,26.9042943 C175.024279,26.8247514 174.963331,26.5944086 174.912402,26.2654657 C174.852289,25.9464657 174.691152,25.8246657 174.368878,25.8246657 L174.08668,25.8246657 L174.08668,26.9042943 Z M174.509977,23.6968943 C173.512265,23.6968943 172.697397,24.54618 172.697397,25.59598 C172.697397,26.6640086 173.512265,27.50418 174.519996,27.50418 C175.526892,27.5132943 176.332576,26.6640086 176.332576,25.6059229 C176.332576,24.54618 175.526892,23.6968943 174.519996,23.6968943 L174.509977,23.6968943 Z M174.519996,23.3472371 C175.759831,23.3472371 176.74502,24.3464943 176.74502,25.59598 C176.74502,26.8636943 175.759831,27.8538371 174.509977,27.8538371 C173.271812,27.8538371 172.264081,26.8636943 172.264081,25.59598 C172.264081,24.3464943 173.271812,23.3472371 174.509977,23.3472371 L174.519996,23.3472371 Z" id="Fill-20" fill="#000000" mask="url(#mask-4)"></path>
                                      </g>
                                  </g>
                              </g>
                          </g>
                      </g>
                  </g>
              </g>
          </svg>
        </a>

        <a href="http://www.fleshjack.com/">
          <img src="{{ 'logo_fleshjack.png' | asset_url }}" alt="" class="affiliates-logo-image">
        </a>
      </section>
      <h3 class="affiliates-description">
        {{ affiliates_description }}
      </h3>
      <div class="grid">
        <div class="row">
          <div class="col-md-6 col-lg-4 col-lg-offset-2 ig">
            <div class="grid-item style-narrow">
              <div class="v-top">
                <div class="grid-header">
                  <h4>{{ shop.name }} Instagram</h4>
                  <strong>Follow us for the latest updates</strong>
                </div>
                <!-- /.grid-header -->
              </div>
              <!-- /.v-top -->
              <div class="content-inner">
                <div class="instagram-feed">
                  <div id="instafeed" class="affiliates-instafeed"></div>
                  <!-- /.instafeed -->
                </div>
                <!-- /.instagram-feed -->
              </div>
              <div class="v-bottom">
                <div class="grid-footer">
                  <div class="left">
                    <strong>{{ contact_info_instagram }}</strong>
                  </div>
                  <!-- /.left -->
                  <div class="right">
                    <a href="https://www.instagram.com/{{ contact_info_instagram }}" target="_blank"
                      ><em>Follow Us On Instagram!</em></a
                    >
                  </div>
                  <!-- /.right -->
                </div>
                <!-- /.grid-item-footer -->
              </div>
              <!-- /.v-bottom -->
            </div>
            <!-- /.grid-item -->
          </div>
          <div class="col-md-6 col-lg-4 payout">
            <div class="grid-item style-narrow">
              <div class="v-top affiliates-payout-section">
                <div class="grid-header">
                  <h6>Payout 1</h6>
                  <h4 id="affiliate-sale-text">Fleshlight &amp; Fleshjack</h4>
                </div>
                <!-- /.grid-header -->
              </div>
              <!-- /.v-top -->
              <div class="content-inner">
                <ul>
                  <li>
                    <span>Tracker Type</span>
                    <span>Online Sale</span>
                  </li>
                  <li>
                    <span>Payout</span>
                    <span>Up to 30%</span>
                  </li>
                  <li>
                    <span>Referral Period</span>
                    <span>60 Days</span>
                  </li>
                  <li>
                    <span>Payout Scheduling</span>
                    <span>15 days after half month</span>
                  </li>
                  <li class="last">
                    <h4>You could earn over $675.00 per month with only one sale per day!</h4>
                  </li>
                </ul>
              </div>
              <div class="v-bottom">
                <div class="grid-footer">
                  <div class="left">
                    <strong>Join our affiliate program today!</strong>
                  </div>
                  <!-- /.left -->
                  <div class="right">
                    <a href="{{ affiliates_header_link_url_1 }}" target="_blank"><em>Sign up</em></a>
                  </div>
                  <!-- /.right -->
                </div>
                <!-- /.grid-item-footer -->
              </div>
              <!-- /.v-bottom -->
            </div>
            <!-- /.grid-item -->
          </div>
        </div>
      </div>
      <div class="section-footer">
        <a href="{{ affiliates_header_link_url_2 }}" target="_blank" class="button small dark">Join Our Campaign</a>
      </div>
    </div>
  </div>

  <div class="aff-login">
    <div class="contain">
      <div class="grid">
        <div class="row">
          <div class="col-md-6">
            <div class="grid-item style-narrow box-inner">
              <div class="info">
                <a href="{{ affiliates_header_link_url_1 }}" target="_blank">
                  {% if product_line_site == 'fleshjack' %}
                    <img src="{{'affiliate-box-1-fj.webp' | asset_url}}">
                  {% else %}
                    <img src="{{'affiliate-box-1.webp' | asset_url}}">
                  {% endif %}
                  <p>Sign-in to your account to access your dashboard and available tools.</p>
                  <span class="button small dark">Sign in</span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="grid-item style-narrow box-inner">
              <div class="info">
                <a href="{{ affiliates_header_link_url_2 }}" target="_blank">
                  {% if product_line_site == 'fleshjack' %}
                    <img src="{{'affiliate-box-2-fj.webp' | asset_url}}">
                  {% else %}
                    <img src="{{'affiliate-box-2.webp' | asset_url}}">
                  {% endif %}
                  <p>Start receiving large earnings for promoting Fleshlight products to your audience.</p>
                  <span class="button small dark">Join The Campaign</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- row -->
    </div>
  </div>
</div>
{% style %}
  .pg-affiliate {
    header {
      padding-top: 65%;
      h1 {
        margin-bottom: 8px;
        font-size: 36px;
      }
      p {
        color: #fff;
        font-family: $headline_font;
        font-size: 16px;
        text-transform: uppercase;
        @media (min-width: 768px) {
          font-size: 24px;
        }
      }
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
          a.button {
            display: block;
            width: 100%;
            max-width: 420px;
            margin: 6px auto;
            padding: 0 20px;
          }
        }
        @media (min-width: 768px) {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-around;
          width: 100%;
          max-width: 480px;
          margin: 0 auto;
          padding: 0 18px;
          li {
            width: 45%;
            flex-basis: 45%;
            a {
              max-width: 100%;
              margin: 0 auto;
            }
          }
        }
      }
      @media (min-width: $tablet-large) {
        padding-top: 37%;
        h1 {
          margin-bottom: 16px;
          font-size: 67px;
        }
      }
    }
  }

  .affboxes {
    .contain {
      h3 {
        text-align: center;
        font-size: 22px;
        line-height: 38px;
        color: #353935;
        padding: 0 18px;
        width: 100%;
        margin: 20px auto 30px;
        max-width: 900px;
        font-family: $body_font;
        font-weight: 400;
      }
    }
    .content-inner {
      min-height: 437px;
    }
    .box-content {
      background: #fff;
    }
    .grid-item:hover {
      .grid-header {
        transform: none;
      }
    }
    .grid {
      .grid-item {
        .v-top {
          position: static !important;
        }
        .v-bottom {
          position: static !important;
          .grid-footer {
            transform: none;
            position: static;
            a {
              color: $pale-olive-green;
              text-decoration: underline;
              em {
                display: block;
              }
              &:hover {
                color: #353535;
              }
            }
          }
        }
      }
      .grid-header {
        color: #a3a3a3;
        h4,
        strong {
          color: #000;
          opacity: 1;
        }
      }
    }
    .twitfeed {
      display: none;
      @media (min-width: $tablet-large) {
        display: block;
      }
    }
    .payout {
      .content-inner {
        min-height: 431px;
      }
      .v-top {
        background: #e4e4e4;
        .grid-header {
          padding: 0;
        }
        h6 {
          text-transform: uppercase;
          font-family: $open-sans;
          color: #a3a3a3;
          padding: 7px 12px;
          display: inline-block;
          background: #fff;
          @media (min-width: $tablet-large) {
            padding: 12px 24px;
          }
        }
        h4 {
          background: #fff;
          border-bottom: 1px solid #e4e4e4;
          padding: 15px 12px;
          margin-bottom: 0;
          @media (min-width: $tablet-large) {
            padding: 15px 24px;
          }
        }
      }

      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
          background: #fff;
          border-bottom: 1px solid #e4e4e4;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          padding: 14px 12px;
          @media (min-width: $tablet-large) {
            padding: 23px 24px;
          }
          span {
            font-size: 14px;
          }
          span:first-child {
            font-family: $open-sans;
            color: #111;
            font-weight: 600;
          }
          span:last-child {
            color: #a3a3a3;
          }
          &.last {
            background: $pale-olive-green;
            color: #fff;
            font-family: $open-sans;
            text-align: center;
            text-transform: uppercase;
            font-size: 20px;
            @media (min-width: $tablet-large) {
              padding: 28px 24px;
            }
          }
        }
      }
    }
  }

  .aff-login {
    border-top: 1px solid #dedede;
    background-color: $pale-olive-green;
    background-size: 200% 200%;
    -webkit-animation: backgroundGradient 20s linear infinite;
    -moz-animation: backgroundGradient 20s linear infinite;
    animation: backgroundGradient 20s linear infinite;
    img {
      display: block;
      width: 100%;
      margin-bottom: 15px;
      &:hover {
        opacity: 0.9;
      }
    }
    .grid {
      .grid-item {
        border-bottom: 0 none;
      }
    }
    .info {
      text-align: center;
    }
  }

  .affiliates-logo-section {
    text-align: center;
  }

  .affiliates-logo-image {
    max-width: 122px;
    margin-left: 25px;
  }

  @-webkit-keyframes backgroundGradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  @-moz-keyframes backgroundGradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes backgroundGradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  .affiliates-description {
    @media screen and (max-width: 991px) {
      display: block !important;
      max-width: 700px !important;
      font-size: 18px !important;
    }
  }

  .affiliates-payout-section.v-top {
    @media screen and (max-width: 991px) {
      position: relative !important;
      transform: none !important;
    }
  }

  h4#affiliate-sale-text {
    @media screen and (max-width: 991px) {
      color: #000000 !important;
    }
  }

  #instafeed.affiliates-instafeed {
    background-color: transparent;
  }

  #instafeed.affiliates-instafeed .insta-image {
    max-width: 147px;
  }

  #affiliates .affiliates-header-title {
    @media screen and (max-width: 700px) {
      font-size: 20px;
    }
  }

  #affiliates .affiliates-header-text {
    @media screen and (max-width: 700px) {
      font-size: 13px;
    }
  }
{% endstyle %}
